In [1]:
import pandas as pd
from sklearn.datasets import load_iris
iris = load_iris()

In [12]:
iris_df=pd.DataFrame(iris.data)
iris_df['class']=iris.target

iris_df.columns=['sepal_len', 'sepal_wid', 'petal_len', 'petal_wid', 'class']
iris_df.dropna(how="all", inplace=True)

In [13]:
iris_df.head()

   sepal_len  sepal_wid  petal_len  petal_wid  class
0        5.1        3.5        1.4        0.2      0
1        4.9        3.0        1.4        0.2      0
2        4.7        3.2        1.3        0.2      0
3        4.6        3.1        1.5        0.2      0
4        5.0        3.6        1.4        0.2      0

In [14]:
iris_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   sepal_len  150 non-null    float64
 1   sepal_wid  150 non-null    float64
 2   petal_len  150 non-null    float64
 3   petal_wid  150 non-null    float64
 4   class      150 non-null    int32
dtypes: float64(4), int32(1)
memory usage: 5.4 KB

In [15]:
X =iris_df.iloc[:,:-1]
X.head()

   sepal_len  sepal_wid  petal_len  petal_wid
0        5.1        3.5        1.4        0.2
1        4.9        3.0        1.4        0.2
2        4.7        3.2        1.3        0.2
3        4.6        3.1        1.5        0.2
4        5.0        3.6        1.4        0.2

In [16]:
y = iris_df['class']
y.head()

0    0
1    0
2    0
3    0
4    0
Name: class, dtype: int32

In [17]:
y.value_counts()

0    50
1    50
2    50
Name: class, dtype: int64

In [18]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(X,y,test_size = 0.3,random_state=47)

In [19]:
from sklearn.naive_bayes import GaussianNB
gnb = GaussianNB()
model = gnb.fit(x_train, y_train)

In [20]:
from sklearn.metrics import accuracy_score,classification_report,confusion_matrix

In [21]:
y_pred = model.predict(x_test)
y_pred_train = model.predict(x_train)

In [22]:
print('Testing Accuracy = ', accuracy_score(y_test,y_pred))
print('Training Accuracy = ', accuracy_score(y_train,y_pred_train))

Testing Accuracy =  0.9777777777777777
Training Accuracy =  0.9523809523809523

In [23]:
print(classification_report(y_test,y_pred))

              precision    recall  f1-score   support

           0       1.00      1.00      1.00        18
           1       0.90      1.00      0.95         9
           2       1.00      0.94      0.97        18

    accuracy                           0.98        45
   macro avg       0.97      0.98      0.97        45
weighted avg       0.98      0.98      0.98        45